<div class="heading">
    <h2>Documentation Index</h2>
    <span class="refresh">
        <img src="" alt="" />
    </span>
</div>
<div class="content">
    []ARCHITECTDOCINDEX[/]
    []OWNERDOCINDEX[/]
    []DEVELOPERDOCINDEX[/]
    []DESIGNERDOCINDEX[/]
    []WEBMASTERDOCINDEX[/]
    []OPERATORDOCINDEX[/]
    []ADMINDOCINDEX[/]
    []MODERATORDOCINDEX[/]
    []AUTHORDOCINDEX[/]
    []USERDOCINDEX[/]
</div>
