<body>
    <div id="component-wrapper">
        <div id="primary-wrapper">
            <div id="header">
                <div class ="logobox">
                    <a href="<?php echo _URL;?>">
                        <img src="<?php echo _LOGO . 'Oroboros/Horizontal/188x64/logo_red.png';?>" alt="" />
                    </a>
                </div>
                <div class="linkset">
                    <?php foreach ($this->linkbar as $i): ?>
                        <div class="toplink">
                            <a href="<?= _CON . $i['link']; ?>" class="toplink"><?= $i['display']; ?></a>
                            <?php if(!empty($i['sublinks'])):?>
                            <ul class="sublinks">
                                <?php foreach($i['sublinks'] as $ii):?>
                                <li>
                                    <a href="<?= _CON . $ii['link']; ?>" class="sublink"><?= $ii['display']; ?></a>
                                </li>
                                <?php endforeach;?>
                            </ul>
                            <?php endif; ?>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
            <div id="primary-content">