<h2>Welcome to Oroboros</h2>
<hr>
<p>Oroboros is a dynamic content management tailored to the needs of developers and designers.</p>
<p>This content management system allows for multiple site management from a single control panel, and uses a dynamic hereditary profiling system to allow site authors to quickly develop sites that can inherit page and site styles, templates, user groups, permissions, modules, and components dynamically from any other site installation in the network.</p>
<p>For a concise overview of the system capabilities, please consult the <a href="<?= _CON.$_SERVER['HTTP_HOST'].'/about'; ?>">about page</a>.</p>
<p>For technical information, check out the <a href="<?= _CON.$_SERVER['HTTP_HOST'].'/docs'; ?>">documentation page</a>.</p>
<p>To get started, please go ahead and <a href="<?= _CON.$_SERVER['HTTP_HOST'].'/login'; ?>">login</a>.</p>
<hr>
<p>Thanks for choosing Oroboros for your next web-based project.<br>We hope you enjoy your experience!</p>
<?php var_dump($_SESSION); ?>