<h2>Features</h2>
<hr>
<h3>Multi-Site Management</h3>
<p>Oroboros allows you to quickly develop multiple websites. Each site can inherit themes, templates, user groups, permissions, or any other aspect you can imagine from any other site in your network.</p>
<hr>
<h3>Hereditary Stylesheets</h3>
<p>Oroboros allows you to base any stylesheet off of an existing stylesheet so you don't have to pour a ton of work into making something new. This can be done recursively, so you are never married to a specific setup. This can be done independently at the theme, template, site, or page level, and you don't have to tie any of these into any other specific asset inherited by any other component you are using.</p>
<hr>
<h3>Advanced User Permissions</h3>
<p>Oroboros uses an advanced hereditary user permission system that applies to all sites, pages, content, and functionality. You can restrict pages, links or even content within the same page to only the people you want to see it. Want everyone to be able to see a page, but only specific groups or users to be able to modify it? No problem. You can do this right in the same page, and the settings for modification will only render for those who are allowed to use them. This system applies to every aspect of Oroboros, so nobody is ever getting access to anything or anywhere they aren't supposed to be unless you give it to them specifically.</p>
<hr>
<h3>Extensible Themes</h3>
<p>Themes in Oroboros are designed to render visual display, and not affect page layout, so any correctly set-up theme will work with any correctly set up template, and vice versa. You can have your theme inherit from any other theme as a starting point, or you can render it as it's own individual entity. Each theme has a settings file where you can make sweeping changes to your site's appearance without ever having to tinker with the codebase, though you are never restricted from doing so if you choose to.</p>
<hr>
<h3>Extensible Templates</h3>
<p>The same flexibility that applies to themes also applies to templates. They have a very simple structure and can be easily modified to your liking. You are never railroaded into a specific layout that is difficult to modify. You have complete control over how the template renders, how content renders within the template, and you can change any of this in a few minutes without the need to tinker with core classes extend functionality to get the look and feel you are going for.</p>
<hr>
<h3>Device  and Viewer Specific Content</h3>
<p>Oroboros gives you the power to lay out content specific to the viewer's device, or the content viewer themselves. Both adaptive and responsive site design are a cinch. Want specific layouts for mobile, tablets and desktop viewers? Done. Want a specific layout for accessibility? Done. Want a slick UI for your regular users with tons of AJAX, and a simple, easy-to-crawl static layout for search engines to keep your SEO efforts easy to manage? Done. The flexibility is only limited by your imagination.</p>
<hr>
<h3>Multiple Database Support</h3>
<p>Oroboros allows you to connect to multiple parallel databases to keep all of your data secured in it's own home. Want to have one database for the core, and another for all of your modules and extensions? Easy to do. Through the power of PDO, Oroboros is not limited to MySQL databases; it can handle any database you have the drivers installed for on your host. That means you can run MySQL, MS SQL, Oracle, Sqlite, or whatever you want based on your needs. Remote database support is coming very soon in a future update, so you will be able to connect to databases that aren't even on your server with no issue as well.</p>
<hr>
<h3>Easy Site Development</h3>
<p>Are you a web developer? Are you sick of pulling down entire websites and wasting time setting up staging sites just to add a few features? We've got you covered. This functionality is built right into the core. You can stage just the files you need to modify locally and they will only be accessible to the development team. The core loads from the local directory first, then the core for normal page views, which means you can easily extend the core without your modifications ever getting overwritten by updates. The staging directory lets you tinker with files in a built in sandbox environment, get them working how you want, then flag them to be moved to the local directory when you are done. And the system has git support baked right in, so version control can be easily accomplished for any component of your site, or the entire system itself.</p>
<hr>
<h3>Site Design has Never Been Simpler</h3>
<p>Want a slick website without a lot of fuss? Oroboros makes this an easy endeavor. Themes are flexible and can apply to any template. Templates are a cinch to roll on your own, and content can easily be injected anywhere you want using our built in hooks system. You can easily clone an existing theme or template to bake it into a new one, or inherit the existing setup directly and simply extend it in whatever direction you want. Both css and javascript can be applied to themes, templates, entire sites, or even specific pages, and only the assets you need load for each page load, so there are never collisions, bloated scripts or stylesheets, or unnecessary assets loading at any time. Everything gets minified, gunzipped and packaged for performance before going to the end user, so page loads stay snappy, which makes viewers happy. If you want to view easily readable source, just enable debug mode and everything renders source formatted. This is specific to you, so normal viewers will still get a nice tight package while you are elbows deep in the code, looking at everything in a nice, easy to read format.</p>