<div class="subheader-wrapper">
    <div id="pagetitle">
        <h1><?= $this->_pageheading; ?></h1>
        <span class="submenus">[]SUBMENU[/]<span><span class="count">10</span></span><span></span><span></span></span>
    </div>
    <div class="navlinks">
        []NAVIGATION[/]
    </div>
</div>
<div id="content">
    <div class="main-content-wrapper">
        <!--<sub>To edit this file, open <b><?= __FILE__; ?></b> in your favorite editor.</sub>-->
        <div class="widgets">
        []DASHWIDGETS[/]
    </div>