</div>

<div id="footer">
    <div class="content-wrapper">
        []FOOTERTEMPLATE[/]
        []FOOTERTHEME[/]
        []FOOTERMODULE[/]
        []FOOTERCOMPONENT[/]
        []FOOTERSITE[/]
        []FOOTER[/]
    </div>
</div>
</div>
</div>
</body>
</html>