<!doctype html>
<?php
$getstring = 'site=' . $this->_site['slug'] . '&page=' . $this->_page['slug'] . '&theme=' . $this->theme['slug'];
if (isset($_SESSION['user']['login'])) {
    $getstring .= '&uid=' . $_SESSION['user']['login'];
}
?>

<html>
    <head>
        <title><?= $this->_pagetitle; ?></title>
        <link rel="shortcut icon" href="<?php echo _CON . _FAVICON . $this->_site['slug'] ; ?>/favicon.ico" />
        <link rel="icon" type="image/png" href="<?php echo _FAVICON . $this->_site['slug'] ; ?>/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="<?php echo _FAVICON . $this->_site['slug'] ; ?>/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="<?php echo _FAVICON . $this->_site['slug'] ; ?>/favicon.ico" sizes="32x32" />

        <link rel="stylesheet" href="<?php echo _URL; ?>public/css/css.phtml<?php echo "?$getstring"; ?>" />    
        <script type="text/javascript" src="<?php echo _URL; ?>public/js/js.phtml<?php echo "?$getstring"; ?>"></script>
        <?php
//    if (isset($this->meta)) {
//        foreach($this->meta as $meta) {
//            
//        }
//    }
        ?>
    </head>