<body>
    <div id="component-wrapper">

        <div id="primary-wrapper">
            <span class="modal-wrapper"></span>
            <div id="header">
                <div class ="logobox">
                    <a href="<?php echo _URL; ?>">
                        <img src="<?php echo _LOGO . 'Oroboros/Horizontal/188x64/logo_red.png'; ?>" alt="" />
                    </a>
                </div>
                <div id="dashhead">
                    <?php
                    $this->linkrender = !isset($this->linkrender) ? $this->linkrender = new \oroboros\core\libs\Render\Links($this->package, $this->_site['slug'], $this->_subdomain, $this->_page['slug']) : $this->linkrender;
                    $this->linkbuild = !isset($this->linkbuild) ? new \oroboros\core\views\Site\Content\Browser\Menu() : $this->linkbuild;
                    $render = $this->linkrender->buildMenu($_SESSION['user']['login'], $this->_site['slug'], 'dashhead', 'registered', '#');
                    $result = $this->linkbuild->listMenuRender($render);
                    echo $result;
                    ?>
                </div>
                <div class="searchbar">
                    <form id="site-search" name="site-search" action="">
                        <select>
                            <option>Everything</option>
                            <option>Nodes</option>
                            <option>DNS</option>
                            <option>Subsystems</option>
                            <option>Archives</option>
                            <option>Logs</option>
                            <option>Sites</option>
                            <option>Pages</option>
                            <option>Templates</option>
                            <option>Themes</option>
                            <option>Permissions</option>
                            <option>Groups</option>
                            <option>Users</option>
                            <option>Messages</option>
                            <option>Notifications</option>
                            <option>Notes</option>
                            <option>Mail</option>
                            <option>Calendar</option>
                        </select>
                        <input type="text" value="Search site..."></input>
                        <a href="#" class="adv-search">Advanced<br>Search</a>
                    </form>
                </div>
                <div class="profile">
                    <?php
                    $user = $this->user->renderUser($_SESSION['user']['login'], 'userbox');
                    echo $user;
                    ?>
                </div>
            </div>
            <div id="primary-content">