<body>
    <div id="component-wrapper">
        <?php
        //loads the component controller menu
        if (isset($_SESSION['user']['loggedIn'])) {
            require _CORE . _VIEWS . 'components/component-controller.phtml';
        }
        //loads the dashbar if the user is logged in
        if (isset($_SESSION['user']['loggedIn'])) {
            require _CORE . _VIEWS . '/components/dashbar.phtml';
        }
        //loads the drawer if the user is logged in
        if (isset($_SESSION['user']['loggedIn'])) {
            require _CORE . _VIEWS . '/components/drawer.phtml';
        }
        ?>
        <div id="primary-wrapper">
            <div id="header">
                <div class ="logobox">
                    <a href="<?php echo _URL; ?>">
                        <img src="<?php echo _LOGO . 'Oroboros/Horizontal/188x64/logo_red.png'; ?>" alt="" />
                    </a>
                </div>
                <div class="linkset">
                    <?php
                    $this->linkrender = !isset($this->links) ? $this->linkrender = new \oroboros\core\libs\Render\Links($this->package, $this->_site['slug'], $this->_subdomain, $this->_page['slug']) : $this->linkrender;
                    $this->linkbuild = !isset($this->linkbuild) ? new \oroboros\core\views\Site\Content\Browser\Menu() : $this->linkbuild;
                    $render = $this->linkrender->buildMenu($_SESSION['user']['login'], $this->_site['slug'], strtolower($hook), $item['permission'], '#');
                    $result = $this->linkbuild->listMenuRender($render);
                    ?>
                </div>
            </div>
            <div id="primary-content">