/* 
    Document   : styles
    Created on : Jul 12, 2014, 12:37:25 AM
    Author     : Brian Dayhoff <brian@mopsyd.me>
    Description:
        Stylesheet for the Oroboros Core Dashbar Component
*/

/* -------- Dashbar -------- */

div.dashbar-spacer {
    width:100%;
    clear:both;
    height: 50px;
    top:<?php
        if ($_SESSION['utilities']['dashbar'] == 1) {
        echo 0;
    } else {
        echo '-55px';
    }
    ?>;
    z-index:4000;
}

div#dashbar {
    width:100%;
    clear:both;
    position: fixed;
    height: 50px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.8);
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 64%, rgba(245,245,245,1) 64%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(64%, rgba(252,252,252,1)), color-stop(64%, rgba(245,245,245,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 64%, rgba(245,245,245,1) 64%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 64%, rgba(245,245,245,1) 64%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 64%, rgba(245,245,245,1) 64%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(252,252,252,1) 64%, rgba(245,245,245,1) 64%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    border-bottom: 3px solid #c3c3c3;
    box-shadow:0px 0px 2em 0 rgba(0,0,0,0.9);
    -moz-box-shadow:0px 0px 0 2em rgba(0,0,0,0.9);
    top:0;
    z-index:4000;
}

div#dashbar div.logobox, div#dashbar div.dashlinks, div#dashbar div.user-data {
    height:100%;
    width:auto;
    float:left;
    margin: 0 0 0 30px;
    display:inline-block;
}

div#dashbar div.logobox a, div#dashbar div.logobox a img {
    height:100%;
    width:auto;
    margin:0;
    padding:0;
    display:block;
}

div#dashbar div.logobox a {
    height:70%;
    margin:20% 0 10%;
}

div#dashbar div.user-data {
    margin: 0 2em;
    float:right;
}

div#dashbar div.dash-links {
    height:100%;
    display:inline-block;
    margin:0;
    width:auto;
}

div#dashbar div.dash-links ul {
    list-style:none;
    height:100%;
    width:auto;
    display:block;
    padding-left: 1em;
}

div#dashbar div.dash-links ul li {
    height:100%;
    width:auto;
    margin:0;
    padding:0;
    float:left;
    display:inline-block;
    clear:right;
}

div#dashbar div.dash-links ul li a {
    height:100%;
    display:block;
    margin:0 2ex 0 0;
    color:<?= _C_THEME_S; ?>;
    text-decoration:none;
    font-weight:600;
    font-family:arial,helvetica,sans-serif;
    font-size:1.34em;
}

div#dashbar div.dash-links ul li a:visited {
    color:<?= _C_HTML_H2; ?>;
}

div#dashbar div.dash-links ul li a:hover {
    color:<?= _C_HTML_H3; ?>;
}

/* -------- Dashbar -------- */