        <div class="imagewrapper"><?= 'this is where the error image goes'; ?></div>
        <p><?= $this->msg; ?></p>
        <!--<sub>To edit this template, open <b><?= __FILE__; ?></b> in your favorite editor.</sub>-->
    </div>
</div>