<div id="Logs" class="dashmod">
    <div class="heading">
        <h2>Log Content</h2>
        <span class="controlbox" />
    </div>
    <div class="wrapper">
        <span class="align">
            <?php 
            $this->controller->renderLogs(); 
            ?>
        </span>
    </div>
</div>