<div id="component-controllers">
    <ul>
        <li><div id="dashbar-toggle"><a id="dashbar-toggle-switch" class="toggle-switch" href=""><img class="toggle-icon" src="http://<?php echo $_SERVER['HTTP_HOST']; ?>/oroboros/components/core/component-controller/media/images/icons/userbar-close.png" alt="" /></a></div></li>
        <li><div id="drawer-toggle"><a id="drawer-toggle-switch" class="toggle-switch" href=""><img class="toggle-icon" src="http://<?php echo $_SERVER['HTTP_HOST']; ?>/oroboros/components/core/component-controller/media/images/icons/userdrawer-open.png" alt="" /></a></div></li>
    </ul>
</div>