<div id="dashbar">
    <div class="logobox"><a href="<?php echo _URL . 'dashboard' ?>" />
        <img src="<?php echo _URL . 'oroboros/components/core/dashbar/media/images/icons/logo_red.png'; ?>" alt="" />
        </a>
    </div>
    <div class="dash-links">
        []DASHBARINDEX[/]
    </div>
    <div class="dash-components">
        []DASHCOMPONENTS[/]
    </div>
    <div class="user-data">
        []DASHBARUSERPANE[/]
    </div>
</div>
<div class="dashbar-spacer"></div>
