<div class="browser">
    <span class="iconwrapper">
        <?= '<img src="' .$_SESSION['device']['icon'] . '" alt="' . $_SESSION['device']['title'] . '" class="icon" title="Operating system: ' . $_SESSION['device']['title'] . '" />'; ?>
        <?= '<img src="' .$_SESSION['browser']['icon'] . '" alt="' . $_SESSION['browser']['title'] . '" class="icon" title="Browser: ' . $_SESSION['browser']['title'] . ', version ' . $_SESSION['browser']['version'] . '" />'; ?>
    </span>
    []BROWSERDETAILS[/]
</div>
