/* 
    Document   : styles
    Created on : Jul 12, 2014, 12:37:25 AM
    Author     : Brian Dayhoff <brian@mopsyd.me>
    Description:
        Stylesheet for the Oroboros Core Component Controller Component
*/

/* -------- Component Controllers -------- */
div#component-controllers {
    position:fixed;
    width:50px;
    z-index:4500;
    left:0;
    top:0;
    height:auto;
    display:inline-block;
    clear:both;
}

div#component-controllers div {
    float:left;
    width:100%;
    height:auto;
    display:block;
    margin:0;
    padding:0;
}

div#component-controllers ul {
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    height:auto;
}

div#component-controllers ul li {
    display:block;
    margin:0;
    padding:0;
    width:100%;
    height:auto;

}

div#component-controllers img.toggle-icon {
    height:auto;
    width:15px;
    margin:.33em 0 0 .33em;
}


/* -------- Component Controllers -------- */