    <body>
        <div id="component-wrapper">
        <?php
        //loads the component controller menu
        if (isset($_SESSION['user']['loggedIn'])) {
            require _CORE . _VIEWS . 'components/component-controllers.phtml';
        }
        //loads the dashbar if the user is logged in
        if (isset($_SESSION['user']['loggedIn'])) {
            require _CORE . _VIEWS . '/components/dashbar.phtml';
        }
        //loads the drawer if the user is logged in
        if (isset($_SESSION['user']['loggedIn'])) {
            require _CORE . _VIEWS . '/components/drawer.phtml';
        }
        ?>
        <div id="primary-wrapper">
            <div id="header">

                <?php if ($_SESSION['user']['loggedIn'] == false): ?>
                    <a href="<?php echo _URL; ?>index">Index</a>
                    <a href="<?php echo _URL; ?>help">Help</a>
                <?php endif; ?>    
                <?php if ($_SESSION['user']['loggedIn'] == true): ?>
                    <a href="<?php echo _URL; ?>dashboard">Dashboard</a>
                    <a href="<?php echo _URL; ?>links">Links</a>
                    <a href="<?php echo _URL; ?>note">Notes</a>

                    <a href="<?php echo _URL; ?>dashboard/logout">Logout</a>    
                <?php else: ?>
                    <a href="<?php echo _URL; ?>login">Login</a>
                <?php endif; ?>
            </div>

            <div id="content">

