<?php 
if(!isset($_SESSION['utilities']['drawer'])){$_SESSION['utilities']['drawer']=0;}
?>
<div id="drawer">
    <div class="toolbar-v">
        []DRAWERTOOLS[/]
    </div>
    <div class="drawer-body-wrapper">
        <div class="dashbar-spacer"></div>
        <div class="drawer-section drawer-title">
            <div class="logobox">
                <h2>[]DRAWERTITLE[/]</h2>
                []DRAWERINDEX[/]
            </div>
        </div>
        <div class="drawer-content">
            []DRAWERCONTENT[/]
        </div>
    </div>
    <div class="drawer-footer">
        []DRAWERFOOTER[/]
    </div>
</div>
