        <span class="align">
            <span class="_modal-create">Create modal</span><hr>
            []ARCHITECTSCRATCHBOX[/]

            <script type="text/javascript">
                jQuery(document).ready(function(){
                    //oroboros.ui.modal.create();
                    //console.dir(oroboros.ajax.send.post);
                    var callbackTest = function(data) {
                        var result = (oroboros.data.json.decode(data));
                        oroboros.ui.modal.title = result.title;
                        oroboros.ui.modal.content = result.content;
                        oroboros.ui.modal.footer = result.footer;
                        oroboros.ui.modal.create();
                    }
                    var params = oroboros.data.json.encode({
                        page: 'dashboard',
                        source: 'scratchbox',
                        content: 'boogity'
                    });
                    //oroboros.ajax.send.post(221,'renderModal',params, callbackTest);
                });
            </script>
            

            <div class="dashwidget">
                <div class="heading">
                    <h4>Test Widget</h4>
                    <span class="ui" />
                </div>
                <div class="wrapper">
                    <div class="body"></div>
                </div>
                <div class="footer">
                    <div class="wrapper"></div>
                </div>
            </div>

            <?php
            //testing html class
            $dashmod = new \oroboros\core\views\Site\Content\Browser\Listrender();
            var_dump($this->file->getFiles(_APP . 'architect/'));
            $test = array(
                array(
                    'type' => 'p',
                    'method' => 'tag',
                    'id' => 'test-2',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'type' => 'p',
                    'method' => 'tag',
                    'id' => 'test-3',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'type' => 'p',
                    'method' => 'tag',
                    'id' => 'test-4',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'type' => 'a',
                    'method' => 'tag',
                    'id' => 'test-4',
                    'class' => array('short'),
                    'content' => 'this is a test link',
                    'params' => array('href' => '#')
                )
            );

            $test = array(
                array(
                    'id' => 'test-2',
                    'class' => array('short'),
                    'content' => 'this is the first test tag',
                ),
                array(
                    'id' => 'test-3',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-4',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-5',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-6',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-7',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-8',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-9',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-10',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
            );

            echo $dashmod->render($test, 'simple');

            //create user password manually:
            //echo \oroboros\core\libs\Encryption\Hash::create('sha256', 'october31', HASH_PASSWORD_KEY);
            //----------------------
            //var_dump($_SESSION['user']['nonce']);
            //var_dump($this->cookie->getCookie('security'));

            $info = array(
                'primary' => 'id',
                'primary-length' => 11,
                'engine' => 'INNODB',
                'comment' => 'This is a test table.',
                'index' => array(
                    array(
                        'name' => 'slug',
                        'type' => 'UNIQUE'
                    ),
                    array(
                        'name' => 'display',
                        'type' => 'INDEX'
                    ),
                )
            );
            $columns = array(
                'slug' => array(
                    'null' => FALSE,
                    'type' => 'VARCHAR',
                    'length' => 16,
                    'default' => "''"
                ),
                'display' => array(
                    'null' => FALSE,
                    'type' => 'VARCHAR',
                    'length' => 32,
                    'default' => "''"
                ),
                'description' => array(
                    'null' => FALSE,
                    'type' => 'VARCHAR',
                    'length' => 128,
                    'default' => "''"
                ),
                'active' => array(
                    'null' => FALSE,
                    'type' => 'TINYINT',
                    'length' => 1,
                    'default' => "'1'"
                ),
            );
            $table = '_testtable';

            //$this->db->makeTable($table, $columns, $info, 1);
            //setcookie('testcookie', 'nonclass test');
            //testing component loader class
//            $components = new \oroboros\core\libs\Components\Components($this->package);
//            $components->get_components('default', 'default', 'dashboard');
//            echo '<pre><code>';
//            echo $components->load_component_template($components->components['core_controller']);
//            echo '</code></pre>';
            //testing page creation class
            //var_dump($this->autoload->prefixes);
            //$pagemake = new \oroboros\core\libs\Site\Page();
            //echo $pagemake->create_page('boogity', 'default', 'default', array('parent' => 'dashboard'));
            ?>
        </span>