/* 
    Document   : styles
    Created on : Jul 12, 2014, 12:37:25 AM
    Author     : Brian Dayhoff <brian@mopsyd.me>
    Description:
        Stylesheet for the Oroboros Core Drawer Component
*/

/* -------- Drawer -------- */

div#drawer-spacer {
    width:35em;
    clear:both;
    height:100%;
    top:0;
    float:left;
    margin-left:-35em;
    display:inline-block;
}

div#drawer {
    height:100%;
    width:35em;
    clear:both;
    position: fixed;
    left:-35em;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.8);
    background-image:url(<?= _C_THEME_BGI_DRAWER; ?>);
    background-repeat: repeat;
    box-shadow: inset 0px 0px 2em rgba(0,0,0,0.9);
    -moz-box-shadow: inset 0px 0px 2em rgba(0,0,0,0.9);
    top:0;
    z-index:3000;
}

div#drawer div.drawer-body-wrapper {
    overflow:auto;
    position:relative;
    height:95%;
    margin-bottom:3.5ex;
}

div#drawer div.drawer-content {
    height:85%;
    width:100%;
    display:block;
    position:relative;
    overflow:auto;
    margin:0;
    padding:0;
}

div#drawer div.body-wrapper div.drawer-section {
    width:100%;
    height:auto;
    display:block;
    margin:0;
    padding:0;
    z-index: 4501;
}

div#drawer hr {
    width:30%;
    display:block;
    color: white;
}

div#drawer ul {
    list-style:none;
    display:block;
    margin:0;
    padding:0;
}

div#drawer ul li {
    width:100%;
    height:auto;
    display:block;
    border-bottom: 1px solid white;
    padding-top: 1ex;
}

div#drawer ul li:last-child {
    border-bottom:none;
    padding-bottom:3em;
}

div#drawer div.drawer-title {
    display:block;
    width:100%;
    height:auto;
    min-height:2.5ex;
    margin:0;
    padding:0;
}

div#drawer div.logobox {
    width:90%;
    padding:0 0 0 10%;
    display:block;
    height:auto;
    min-height:2.5ex;
    border-bottom: 1px solid white;
}

div#drawer div.logobox h2 {
    width:100%;
    display:block;
    color:red;
}

div#drawer h3 {
    margin:1ex 0 .5ex 0 !important;
    display:block;
    width:90%;
    color:orange;
}

div#drawer p {
    margin:0 0 2ex 0;
    color:white;
}

div#drawer div.drawer-content-wrapper {
    width:90%;
    display:block;
    padding:0 0 0 2ex;
    margin:0;
}

div#drawer div.drawer-footer {
    display:block;
    position:absolute;
    height:auto;
    min-height:3.5ex;
    width:100%;
    bottom:0;
    padding-bottom: 2ex;
    background-color:black;
    border-top: 3px solid white;
    z-index: 4502;
}

div#drawer div.drawer-content {
    padding-left:25px;
    width:95%;
}

div#drawer div.toolbar-v {
    width:25px;
    position:absolute;
    left:0;
    top:10%;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color:black;
    font-family: arial,helvetica,sans-serif;
    font-size:10px;
    color:orange;
    z-index:4503;
}

div#drawer div.toolbar-v ul {
    display:block;
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
}

div#drawer div.toolbar-v ul li {
    margin:0;
    padding:0;
    display:block;
    height:25px;
    width:100%;
}

div#drawer div.toolbar-v ul li a {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

/* -------- Drawer -------- */