<div id="page-overview" class="dashmod">
    <div class="heading">
        <h2>Page Overview</h2>
        <span class="controlbox" />
    </div>
    <div class="wrapper">
        <span class="align">
            []ARCHITECTSCRATCHBOX[/]
            
        </span>
    </div>
</div>