<div id="schedule-page" class="dashmod">
    <div class="heading">
        <h2>Schedule Pages</h2>
        <span class="controlbox" />
    </div>
    <div class="wrapper">
        <span class="align">
            []ARCHITECTSCRATCHBOX[/]
            
        </span>
    </div>
</div>