<div id="create-account" class="dashmod">
    <div class="heading">
        <h2>Create New Account</h2>
        <span class="controlbox" />
    </div>
    <div class="wrapper">
        <span class="align">
            <?php
            $this->controller->createUserForm();
            ?>
        </span>
    </div>
</div>