<div id="edit-account" class="dashmod">
    <div class="heading">
        <h2>Edit Existing Account</h2>
        <span class="controlbox" />
    </div>
    <div class="wrapper">
        <span class="align">
            <?php
            $this->controller->editUserForm();
            ?>
        </span>
    </div>
</div>