<div id="manage-accounts" class="dashmod">
    <div class="heading">
        <h2>Manage Accounts</h2>
        <span class="controlbox" />
    </div>
    <div class="wrapper">
        <span class="align">
            <?php

            ?>
        </span>
    </div>
</div>