<div id="online-accounts" class="dashmod half right">
    <div class="heading">
        <h2>Online Users</h2>
        <span class="controlbox" />
    </div>
    <div class="wrapper">
        <span class="align">
            <?php

            ?>
        </span>
    </div>
</div>