<div id="create-account" class="dashmod half left">
    <div class="heading">
        <h2>Accounts Overview</h2>
        <span class="controlbox" />
    </div>
    <div class="wrapper">
        <span class="align">
            <?php

            ?>
        </span>
    </div>
</div>