<div class="heading">
    <h2>Account Management</h2>
</div>
<div class="content">
    <ul class ="nav">
            <li><a href="#" id="accounts-overview-index"><img src="" alt="messages" />Overview</a></li>
            <li><a href="#" id="accounts-manage-index"><img src="" alt="requests" />Manage Accounts</a></li>
            <li><a href="#" id="accounts-create-index"><img src="" alt="notifications" />Create Account</a></li>
            <li><a href="#" id="accounts-edit-index"><img src="" alt="alerts" />Edit Account</a></li>
            <li><a href="#" id="accounts-online-index"><img src="" alt="flags" />Online Users</a></li>
        </ul>
</div>
