<div id="newsbox" class="dashmod half">
    <div class="heading">
        <h2>Oroboros News</h2>
        <span class="controlbox" />
    </div>
    <div class="wrapper">
        <span class="align">
            <?php 
            //$this->controller->news(); 
            ?>
        </span>
    </div>
</div>