<div id="scratchbox" class="dashmod">
    <div class="heading">
        <h2>Architect Scratchbox</h2>
        <span class="controlbox" />
    </div>
    <div class="wrapper">
        <span class="align">
            <span class="_modal-create">Create modal</span><hr>
            []ARCHITECTSCRATCHBOX[/]

            <script type="text/javascript">
                jQuery(document).ready(function(){
                    //oroboros.ui.modal.create();
                    //console.dir(oroboros.ajax.send.post);
                    var callbackTest = function(data) {
                        var result = (oroboros.data.json.decode(data));
                        oroboros.ui.modal.title = result.title;
                        oroboros.ui.modal.content = result.content;
                        oroboros.ui.modal.footer = result.footer;
                        oroboros.ui.modal.create();
                    }
                    var params = oroboros.data.json.encode({
                        page: 'dashboard',
                        source: 'scratchbox',
                        content: 'boogity'
                    });
                    //oroboros.ajax.send.post(221,'renderModal',params, callbackTest);
                });
            </script>

            <?php
            //testing html class
            $dashmod = new \oroboros\core\views\Site\Content\Browser\Listrender();
            //var_dump($this->file->getFiles(_APP . 'architect/'));
            $test = array(
                array(
                    'type' => 'p',
                    'method' => 'tag',
                    'id' => 'test-2',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'type' => 'p',
                    'method' => 'tag',
                    'id' => 'test-3',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'type' => 'p',
                    'method' => 'tag',
                    'id' => 'test-4',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'type' => 'a',
                    'method' => 'tag',
                    'id' => 'test-4',
                    'class' => array('short'),
                    'content' => 'this is a test link',
                    'params' => array('href' => '#')
                )
            );

            $test = array(
                array(
                    'id' => 'test-2',
                    'class' => array('short'),
                    'content' => 'this is the first test tag',
                ),
                array(
                    'id' => 'test-3',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-4',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-5',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-6',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-7',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-8',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-9',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
                array(
                    'id' => 'test-10',
                    'class' => array('short'),
                    'content' => 'this is also a test tag',
                ),
            );

            //echo $dashmod->render($test, 'simple');
            //create user password manually:
            //echo \oroboros\core\libs\Encryption\Hash::create('sha256', 'october31', HASH_PASSWORD_KEY);
            //----------------------
            //var_dump($_SESSION['user']['nonce']);
            //var_dump($this->cookie->getCookie('security'));

            $info = array(
                'primary' => 'id',
                'primary-length' => 11,
                'engine' => 'INNODB',
                'comment' => 'This is a test table.',
                'index' => array(
                    array(
                        'name' => 'slug',
                        'type' => 'UNIQUE'
                    ),
                    array(
                        'name' => 'display',
                        'type' => 'INDEX'
                    ),
                )
            );
            $columns = array(
                'slug' => array(
                    'null' => FALSE,
                    'type' => 'VARCHAR',
                    'length' => 16,
                    'default' => "''"
                ),
                'display' => array(
                    'null' => FALSE,
                    'type' => 'VARCHAR',
                    'length' => 32,
                    'default' => "''"
                ),
                'description' => array(
                    'null' => FALSE,
                    'type' => 'VARCHAR',
                    'length' => 128,
                    'default' => "''"
                ),
                'active' => array(
                    'null' => FALSE,
                    'type' => 'TINYINT',
                    'length' => 1,
                    'default' => "'1'"
                ),
            );
            $table = '_testtable';


            $query = "SELECT `slug`,`parent`,`icon`,`link`,`hook`,`title`,`permission` FROM `sites_links_sets` WHERE `site` IN('" . $this->_site['slug'] . "','global') AND `permission` IN ('" . implode("','", $_SESSION['user']['permissions']) . "') AND `parent`='DASHHEAD' ORDER BY `hierarchy` ASC;";
            $linksets = $this->db->select($query);
            //var_dump($linksets);

            $titleType = 'h3';

            $menuBuild = array();
            foreach ($linksets as $key => $value) {
                $menuItem = array(
                    'link' => isset($value['link']) ? $value['link'] : '#',
                    'permission' => $value['permission'],
                    'content' => array()
                );
                if (isset($value['icon'])) {
                    //renders the linkset icon, if it exists
                    $menuItem['content']['icon'] = array(
                        'image' => _IMAGES . 'icons/' . $value['icon'],
                    );
                }
                if (isset($value['title'])) {
                    //renders the linkset title, if it exists
                    $menuItem['content']['title'] = array(
                        'type' => isset($titleType) ? $titleType : 'p',
                        'content' => $value['title']
                    );
                }
                $query = "SELECT `slug`,`parent`,`site`,`link`,`link_type`,`script_namespace`,`icon`,`display`,`permission` FROM `sites_links` WHERE `site` IN ('" . $this->_site['slug'] . "','global') AND `active`=1 AND `permission` IN ('" . implode("','", $_SESSION['user']['permissions']) . "') ORDER BY `hierarchy` ASC;";
                $sublinks = $this->db->select($query);
                if (!empty($sublinks)) {
                    //renders the sublink set, if it exists
                    $menuItem['content']['title']['content'] .= '<span class="sublink-pointer" />';
                    $sublinkmenu = array();

                    //this part will be handled through recursion when the linkbuilder logic class is defined
                    foreach ($sublinks as $subkey => $subvalue) {
                        $sublinkMenuItem = array(
                            'link' => isset($subvalue['link']) ? $subvalue['link'] : '#',
                            'permission' => $subvalue['permission'],
                            'content' => array(),
                        );
                        if (isset($subvalue['icon'])) {
                            //renders the linkset icon, if it exists
                            $sublinkMenuItem['content']['icon'] = array(
                                'image' => _IMAGES . 'icons/' . $subvalue['icon'],
                            );
                        }
                        if (isset($subvalue['title'])) {
                            //renders the linkset title, if it exists
                            $sublinkMenuItem['content']['title'] = array(
                                'type' => isset($titleType) ? $titleType : 'p',
                                'content' => $subvalue['title']
                            );
                        }
                        $sublinkmenu[$subkey] = $sublinkMenuItem; 
                    }
                    $menuItem['content']['linkset'] = $sublinkMenuItem;
                }
                $menuBuild[$key] = $menuItem;
            }

            //var_dump($menuBuild);
            $links = new \oroboros\core\views\Site\Content\Browser\Menu();
            $linktest = array(
                array(
                    'link' => 'dashboard',
                    'id' => 'testmenu',
                    'permission' => 'admin',
                    'type' => 'script',
                    'namespace' => 'some.name.space',
                    'params' => null,
                    'content' => array(
                        'icon' => array(
                            'image' => _IMAGES . 'icons/ui/light/cut.png',
                        ),
                        'title' => array(
                            'type' => 'h3',
                            'content' => 'Cut',
                        ),
                    ),
                ),
                array(
                    'link' => 'dashboard',
                    'id' => 'testmenu',
                    'permission' => 'admin',
                    'content' => array(
                        'icon' => array(
                            'image' => _IMAGES . 'icons/ui/light/bug.png',
                        ),
                        'title' => array(
                            'type' => 'h3',
                            'content' => 'Bug',
                        ),
                        'linkset' => array(
                            'link' => 'dashboard',
                            'permission' => 'admin',
                            'content' => array(
                                'icon' => array(
                                    'image' => _IMAGES . 'icons/ui/light/clock.png',
                                ),
                                'title' => array(
                                    'type' => 'h3',
                                    'content' => 'Schedule',
                                ),
                                'linkset' => array(
                                    'link' => 'dashboard',
                                    'permission' => 'admin',
                                    'content' => array(
                                        'icon' => array(
                                            'image' => _IMAGES . 'icons/ui/light/clock.png',
                                        ),
                                        'title' => array(
                                            'type' => 'h3',
                                            'content' => 'Schedule',
                                        ),
                                    ),
                                ),
                            )
                        ),
                    ),
                ),
            );
            
            /**
             * Linkset data generation
             * -creates the correct data structure of a linkset to pass to the view link render engine
             */
            echo 'testing link data generation<hr>';
            $this->links = new \oroboros\core\libs\Render\Links($this->package, $this->_site['slug'], $this->_subdomain, $this->_page['slug']);
            //var_dump($this->links);
            $menu = $this->links->buildMenu($_SESSION['user']['login'],$this->_site['slug'],'dashhead','registered', '#', 'test-menu', 'test-menu');
            
            
            
            
            
            

            echo 'testing linkset creation<hr>';
//            echo '<pre>';
//            print_r($menu);
//            echo '</pre>';
            
            //echo $links->listMenuRender($menu, 'test-menu', array('boogity', 'also-boogity'));

            echo 'testing dashindex class<hr>';
            $dashindex = new \oroboros\core\views\Site\Content\Browser\Dashindex();
            $dashmenu = $this->links->buildMenu($_SESSION['user']['login'],$this->_site['slug'], 'dashlinks', 'registered', '#', 'dash-index');
            //echo $dashindex->dashIndex('boogity', $dashmenu);
            
            
//$this->db->makeTable($table, $columns, $info, 1);
//setcookie('testcookie', 'nonclass test');
//testing component loader class
//            $components = new \oroboros\core\libs\Components\Components($this->package);
//            $components->get_components('default', 'default', 'dashboard');
//            echo '<pre><code>';
//            echo $components->load_component_template($components->components['core_controller']);
//            echo '</code></pre>';
//testing page creation class
//var_dump($this->autoload->prefixes);
//$pagemake = new \oroboros\core\libs\Site\Page();
//echo $pagemake->create_page('boogity', 'default', 'default', array('parent' => 'dashboard'));
            echo 'texting text editor component<hr>';
            $textedit = new \oroboros\core\views\Site\Component\texteditor\texteditor();
            echo $textedit->buildObject('#');
            
            //$this->autoload->addNameSpace('\\oroboros\\core\\libs\\Patterns');
            $factory = new \oroboros\core\libs\SITE\Patterns\classFactory();
            $author = $factory->loadObject(_CORE . 'libs/Author', 'Author', $this->package);
            var_dump($factory);
            
            ?>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </span>
    </div>
</div>