<div class="heading">
    <h2>Activity</h2>
    <span class="refresh">
        <img src="" alt="" />
    </span>
    <div class="index">
        <ul class ="nav">
            <li><a href="#" id="activity-messages" title="Messages"><img src="<?= _IMAGES . 'icons/ui/light/message.png';?>" alt="messages" /></a></li>
            <li><a href="#" id="activity-requests" title="Requests"><img src="<?= _IMAGES . 'icons/ui/light/users.png';?>" alt="requests" /></a></li>
            <li><a href="#" id="activity-notifications" title="Notifications"><img src="<?= _IMAGES . 'icons/ui/light/notification.png';?>" alt="notifications" /></a></li>
            <li><a href="#" id="activity-alerts" title="Alerts"><img src="<?= _IMAGES . 'icons/ui/light/alert.png';?>" alt="alerts" /></a></li>
            <li><a href="#" id="activity-flags" title="Flags"><img src="<?= _IMAGES . 'icons/ui/light/flag.png';?>" alt="flags" /></a></li>
            <li><a href="#" id="activity-all" title="All"><img src="<?= _IMAGES . 'icons/ui/light/stack.png';?>" alt="all" /></a></li>
        </ul>
    </div>
</div>
<div class="content">
    []ACTIVITY[/]
</div>
