        <h1><?= $this->title; ?></h1>
        <div class="imagewrapper"><img src="<?= $this->errImg; ?>" alt="" /></div>
        <p><?= $this->msg; ?></p>
        <!--<sub>To edit this template, open <b><?= __FILE__; ?></b> in your favorite editor.</sub>-->
    </div>
</div>